<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.spanasenko.android"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.location" android:required="true"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <application android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".InstagramDemoApp">

        <uses-library android:name="com.google.android.maps"/>

        <!-- NearbyLocationsActivity -->
        <activity android:name=".NearbyLocationsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light">

        </activity>

        <!-- ImageGalleryActivity -->
        <activity android:name=".ImageGalleryActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Light" />

        <!-- ViewImageActivity -->
        <activity android:name=".ViewImageActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />

        <!-- LocationMapActivity -->
        <activity android:name=".LocationsMapActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Little Fluffy Location Library -->
        <service android:name="com.littlefluffytoys.littlefluffylocationlibrary.LocationBroadcastService"/>
        <receiver android:name="com.littlefluffytoys.littlefluffylocationlibrary.StartupBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.littlefluffytoys.littlefluffylocationlibrary.PassiveLocationChangedReceiver"
            android:exported="true"/>

    </application>
</manifest>
